<% content_for :schema_info do %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "It's not a Pokémon",
      "image": [
        "thumbnail1.jpg"
      ],
      "datePublished": "2015-02-05T08:00:00+08:00"
    }
  </script>
<% end %>

<h1>It's not a Pokémon</h1>
<p>What a great photo!</p>
<%#= image_tag 'pot.jpg' %>
<amp-img src="<%= asset_path 'pot.jpg' %>" width='550' height='366' >